:root {
    --border-radius: 10px;
}

body {
    margin: 2rem;
    color: rgba(0, 0, 0, 0.7);
}
h2 {
    margin-top: 3rem;
}
.app {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.text {
    margin: 1rem 0 ;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
}
.code {
    padding: 0;
    border-radius: var(--border-radius);
    border: solid 1px rgba(0, 150, 100, 0.1);
    background-color: rgba(0, 150, 100, 0.05);
    
}
.code pre {
    margin: 1rem 0 0;
}
.code code {
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.7);
}
.code .__c {
    color: rgba(0, 0, 0, 0.3);
} 